@import "tailwindcss";

:root {
  --background: #050507;
  --foreground: #ffffff;
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

.os-theme-custom {
  --os-handle-bg: #FF5C00;
  --os-handle-bg-hover: #e05200;
  --os-handle-bg-active: #c94a00;
  --os-track-bg: transparent;
  --os-track-bg-hover: transparent;
}

.os-viewport {
  background: transparent !important;
}